{% extends 'base.html' %}

{% block title %}Upload organization [{{ organization.name }}] configurations{% endblock %}

{% block content %}
<h2>Upload organization [{{ organization.name }}] configurations</h2>
{% if user_authority.is_superuser %}
<h4>
    [<a href={% url 'organization/list' %}>Organizations</a>]
</h4>
{% endif %}

<hr />

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <h3>Course-Exercise Information (in zip format)</h3>
    {{ upload_organization_course_exercise_info_zip_form.as_p }}
    <button type="submit">Upload</button>
</form>

<hr />

{% endblock %}
