{% load mathfilters %}

<tr>
    <th>
        <label style="margin-bottom:auto;cursor:pointer;width:100%;" for="test_state_detail__{{ submission.id }}__{{ state }}">[ + ] {{ state }}</label>
        <input type="checkbox" data-bs-toggle="toggle" style="display: none;"
                id="test_state_detail__{{ submission.id }}__{{ state }}"
                name="test_state_detail__{{ submission.id }}__{{ state }}">
    </th>
    <td>{{ state_result.result.time|intdiv:1000000 }}</td>
    <td>{{ state_result.result.memory|intdiv:1024 }}</td>
    <td>{{ state_result.result.status_set|status_set_as_html:custom_evaluation_tag_manager }}</td>
    <td>{{ state_result.result.grade }}</td>
</tr>
<tbody class="hide" style="display:none;"><tr><td colspan="5">
    <table class="data_list">
        <tr>
            <th>Case name</th>
            <th>Tags</th>
            <th>Score</th>
        </tr>
        {% for case in state_result.cases %}
        <tr>
            {% if is_state_case_detail_viewable %}
            <th>
                <label style="margin-bottom:auto;cursor:pointer;width:100%;" for="test_case_detail__{{ submission.id }}__{{ state }}__{{ case.name }}">[ + ] {{ case.name }}</label>
                <input type="checkbox" data-bs-toggle="toggle" style="display: none;" checked="checked"
                        id="test_case_detail__{{ submission.id }}__{{ state }}__{{ case.name }}"
                        name="test_case_detail__{{ submission.id }}__{{ state }}__{{ case.name }}">
            </th>
            {% else %}
            <th>{{ case.name }}</th>
            {% endif %}
            <td>{{ case.status_set|status_set_as_html:custom_evaluation_tag_manager }}</td>
            <td>{{ case.grade }}</td>
        </tr>
        {% if is_state_case_detail_viewable %}
        <tbody class="hide" style="display:none;">
            {% if user_authority.is_superuser %}
            {% restrict user_authority is_superuser %}<tr><td>input</td><td colspan="2"><div class="result_output">{{ case.input }}</div></td></tr>{% endrestrict %}
            {% restrict user_authority is_superuser %}<tr><td>output</td><td colspan="2"><div class="result_output">{{ case.output }}</div></td></tr>{% endrestrict %}
            {% endif %}
            <tr><td>message</td><td colspan="2"><div class="result_output">{{ case.message }}</div></td></tr>
            {% if user_authority.is_superuser %}
            {% restrict user_authority can_edit_course %}<tr><td>debug_message</td><td colspan="2"><div class="result_output">{{ case.debug_message }}</div></td></tr>{% endrestrict %}
            {% endif %}
        </tbody>
        {% endif %}
        {% endfor %}
    </table>
</td></tr></tbody>
