<strong>ATTENTION:</strong>
<ul>
  <li>A user account on PLAGS UT is associated with a common ID number. The email address registered in your account is to be fixed to <code>[common ID number]@g.ecc.u-tokyo.ac.jp</code>.
    （PLAGS UT上のアカウントは共通IDに紐付けられます．登録emailアドレスは <code>[共通ID]@g.ecc.u-tokyo.ac.jp</code> に固定されます．）</li>
  <li>You must set your full name and student card number correctly so that lecturers can identify you on ITC-LMS/UTAS. Otherwise, they cannot grant a credit to you.
    （ITC-LMSやUTASで特定できるように氏名と学生証番号を正しく設定しなければなりません．さもなくば，教員が成績評定できません．）</li>
  <li>Your email address, full name, and student card number are visible only to lecturers.
    （あなたのemailアドレス・氏名・学生証番号は，教員のみに開示されます．）</li>
  {% if attention_on_username %}
  <li>Don't forget that your username can show to other students. You may anonymize it if you would like.
    （usernameは他の学生に対して開示され得ること忘れないで下さい．自身を特定されないものに設定して構いません．）</li>
  {% endif %}
</ul>
