{% extends 'base.html' %}

{% block title %}Logged out{% endblock %}

{% block content %}

<div style="display:flex;justify-content:center;align-items:center;flex-direction:column;">
    <h3>Get a password reset PIN</h3>

    <p style="max-width:480px"><i>Password reset PIN</i> is necessary to reset your current password. If you fill the following form with your correct profile, you will get a PIN via email. After you receive it, you can reset your password on <a href={% url 'user/reset_password/confirm' %}>this page</a>.</p>

    <form method="post" style="display:flex;justify-content:center;align-items:center">
        {% csrf_token %}
        <table class="table_form">
            {{ form.as_table }}
            <tr>
                <td></td>
                <td><button type="submit" class="btn btn-primary" style="margin-top:16px">Get a PIN</button></td>
            </tr>
        </table>
    </form>
</div>

{% endblock %}
