{% extends 'base.html' %}

{% block title %}Logged out{% endblock %}

{% block content %}

<div style="text-align:center;">
<p>Get a password reset PIN in advance on <a href={% url 'user/reset_password/form' %}>this page</a>.</p>

<h3>Reset your password</h3>

<form method="post" style="display:flex;justify-content:center;align-items:center">
    {% csrf_token %}
    <table class="table_form table_form_lined">
        {{ form.as_table }}
        <tr>
            <td></td>
            <td><button type="submit" class="btn btn-primary" style="margin-top:16px">Reset password</button></td>
        </tr>
    </table>

    <script>
    add_no_student_card_number_change_hook();
    </script>
</form>
</div>

{% endblock %}
