{% extends 'base.html' %}

{% block title %}User Password Update{% endblock %}

{% block content %}
{% include "meta_parts/diagram.html" %}

{% include 'meta_parts/user_info.html' with target_user=user %}

<hr />

{% if update_allowed %}

<form method="post">
    <h2>Update password</h2>
    {% csrf_token %}
    <table class="table_form table_form_lined">
        {{ form.as_table }}
        <tr>
            <td></td>
            <td><button type="submit" class="btn btn-primary" style="margin-top:16px">Update password</button></td>
        </tr>
    </table>
</form>

{% else %}

Your PLAGS UT account is now linked to ECCS Cloud account. No other email is permitted.

{% endif %}

{% endblock %}
